
html,
body {
  height: 100%;
  width: 100%;
}

.banner {
  ul {
    flex-flow: wrap row;
  }

  .container {
    padding: 10px 0;

    li {
      max-width: 115px;
      text-align: center;
    }
  }

  .sticky-nav {
    background-color: $background;
    border-bottom: 1px solid $brand-accent;
  }
}

#site-header {
  margin: 0 auto;
  max-width: 1500px;
  position: relative;

  img {
    max-width: 100%;
  }
}

.wrap {
  padding-top: 60px;
}

.site-info {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  .content {
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
}
