// Colors

$brand-primary:         #78b380;

// Breakpoints

$tablet:                768px;
$desktop:               992px;
$wide-desktop:          1200px;


$fa-font-path:          '~font-awesome/fonts';
